
<div class="container-fluid mt-4" *ngIf="subject">
    <h2><span>Subject</span> {{subject.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Name</span></dt>
        <dd>
            <span>{{subject.name}}</span>
        </dd>
        <dt><span>Teachers</span></dt>
        <dd>
            <span *ngFor="let teachers of subject.teachers; let last = last">
                <a [routerLink]="['/teacher', teachers?.id ]">{{teachers.name}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="icon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'subject/'+ subject.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="icon-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
