<div class="container-fluid mt-4">
    <h2>
        <span>Subjects</span>
        <button class="btn btn-primary float-right create-subject" [routerLink]="['/', { outlets: { popup: ['subject-new'] } }]">
            <span class="icon-plus"></span>
            <span >
            Create new Subject
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="subjects">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Name</span></th>
            <th><span>Teachers</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let subject of subjects ;trackBy: trackId">
                <td><a [routerLink]="['../subject', subject.id ]">{{subject.id}}</a></td>
                <td>{{subject.name}}</td>
                <td>
                    <span *ngFor="let teachers of subject.teachers; let last = last">
                            <a class="form-control-static" [routerLink]="['../teacher', teachers?.id ]">{{teachers.name}}</a>{{last ? '' : ', '}}
                        </span>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../subject', subject.id ]"
                                class="btn btn-info btn-sm">
                            <span class="icon-eye"></span>
                            <span class="hidden-md-down">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'subject/'+ subject.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="icon-pencil"></span>
                            <span class="hidden-md-down">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'subject/'+ subject.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="icon-close"></span>
                            <span class="hidden-md-down">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
