<router-outlet name="navbar"></router-outlet>
<div class="app-body">
    <div class="sidebar" *ngIf="isAuthenticated()">
        <nav class="sidebar-nav open">
            <ul class="nav">
                <li class="nav-title">
                    Entities
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="school" routerLinkActive="active">
                        <i class="icon-arrow-right"></i>
                        School
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="school-class" routerLinkActive="active">
                        <i class="icon-arrow-right"></i>
                        School Class
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="subject" routerLinkActive="active">
                        <i class="icon-arrow-right"></i>
                        Subject
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="teacher" routerLinkActive="active">
                        <i class="icon-arrow-right"></i>
                        Teacher
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="student" routerLinkActive="active">
                        <i class="icon-arrow-right"></i>
                        Student
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="main">
        <router-outlet></router-outlet>
        <router-outlet name="popup"></router-outlet>
    </div>
</div>
