<div class="container-fluid mt-4" *ngIf="school">
    <h2><span>School</span> {{school.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Name</span></dt>
        <dd>
            <span>{{school.name}}</span>
        </dd>
        <dt><span>Address</span></dt>
        <dd>
            <span>{{school.address}}</span>
        </dd>
        <dt><span>City</span></dt>
        <dd>
            <span>{{school.city}}</span>
        </dd>
        <dt><span>State</span></dt>
        <dd>
            <span>{{school.state}}</span>
        </dd>
        <dt><span>Country</span></dt>
        <dd>
            <span>{{school.country}}</span>
        </dd>
        <dt><span>Phone</span></dt>
        <dd>
            <span>{{school.phone}}</span>
        </dd>
        <dt><span>Principal</span></dt>
        <dd>
            <span *ngIf="school.principal">{{school.principal?.lastName + ',' + school.principal?.firstName}}</span>
        </dd>
        <dt><span>Teachers</span></dt>
        <dd>
            <span *ngFor="let teachers of school.teachers; let last = last">
                <a [routerLink]="['/teacher', teachers?.id ]">{{teachers.name}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
        <dt><span>PDF Document</span></dt>
        <dd>
            <a [hidden]="!school.docAddress" href="{{school.docAddress}}">Download</a>
        </dd>
        <dd>
            <span [hidden]="!uploadError">Error on upload. Try again.</span>
        </dd>
        <dd>
            <label class="btn btn-secondary" for="file">Upload PDF</label>
            <input class="input" id="file" type="file" (change)="fileChange($event)" placeholder="Upload document (PDF)" accept=".pdf">
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="icon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'school/'+ school.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="icon-pencil"></span>&nbsp;<span> Edit</span>
    </button>

</div>
