<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="mySchoolLabel">Create or edit a School</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!school.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="school.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                   [(ngModel)]="school.name"
                   required />
            <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                <small class="form-text text-danger"
                       [hidden]="!editForm.controls.name?.errors?.required">
                    This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_address">Address</label>
            <input type="text" class="form-control" name="address" id="field_address"
                   [(ngModel)]="school.address"
            />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_city">City</label>
            <input type="text" class="form-control" name="city" id="field_city"
                   [(ngModel)]="school.city"
            />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_state">State</label>
            <input type="text" class="form-control" name="state" id="field_state"
                   [(ngModel)]="school.state"
            />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_country">Country</label>
            <input type="text" class="form-control" name="country" id="field_country"
                   [(ngModel)]="school.country"
            />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_phone">Phone</label>
            <input type="text" class="form-control" name="phone" id="field_phone"
                   [(ngModel)]="school.phone"
            />
        </div>

        <div class="form-group">
            <label for="field_principal">Principal</label>
            <select class="form-control" id="field_principal" name="principal" [(ngModel)]="school.principal" >
                <option [ngValue]="null"></option>
                <option [ngValue]="userOption.id === school.principal?.id ? school.principal : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.firstName + ' ' + userOption.lastName}}</option>
            </select>
        </div>
        <div class="form-group">
            <label>Teachers</label>
            <div class="pre-scrollable">
                <ul class="list-group">
                    <li class="list-group-item" [ngClass]="{'active':utilityService.checkElementInArrayById(school.teachers, teacherOption.id)}" *ngFor="let teacherOption of teachers; trackBy: trackTeacherById"
                        (click)="utilityService.toggleElementInArray(school.teachers, teacherOption)">
                        {{teacherOption.name}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="icon-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="icon-check"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
