<div class="container-fluid mt-4">
    <h2>
        <span>Schools</span>
        <button class="btn btn-primary float-right create-school" [routerLink]="['/', { outlets: { popup: ['school-new'] } }]">
            <span class="icon-plus"></span>
            <span >
            Create new School
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="schools">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Name</span></th>
            <th><span>Address</span></th>
            <th><span>City</span></th>
            <th><span>State</span></th>
            <th><span>Country</span></th>
            <th><span>Phone</span></th>
            <th><span>Principal</span></th>
            <th><span>Teachers</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let school of schools ;trackBy: trackId">
                <td><a [routerLink]="['../school', school.id ]">{{school.id}}</a></td>
                <td>{{school.name}}</td>
                <td>{{school.address}}</td>
                <td>{{school.city}}</td>
                <td>{{school.state}}</td>
                <td>{{school.country}}</td>
                <td>{{school.phone}}</td>
                <td>
                    <div *ngIf="school.principal">{{school.principal?.lastName + ',' + school.principal?.firstName}}</div>
                </td>
                <td>
                    <span *ngFor="let teachers of school.teachers; let last = last">
                            <a class="form-control-static" [routerLink]="['../teacher', teachers?.id ]">{{teachers.name}}</a>{{last ? '' : ', '}}
                        </span>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../school', school.id ]"
                                class="btn btn-info btn-sm">
                            <span class="icon-eye"></span>
                            <span class="hidden-md-down">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'school/'+ school.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="icon-pencil"></span>
                            <span class="hidden-md-down">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'school/'+ school.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="icon-close"></span>
                            <span class="hidden-md-down">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
