<nav class="app-header navbar">
    <div>
        <a class="navbar-brand float-left" routerLink="/">
            <span class="navbar-title">SchoolManagement</span>
        </a>
    </div>
    <div class="navbar" [ngSwitch]="isAuthenticated()">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item p-xl-3" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link" routerLink="/">
                    <i class="icon-home"></i>
                    <span>Home</span>
                </a>
            </li>
            <!-- jhipster-needle-add-element-to-menu - JHipster will add new menu items here -->
            <li *ngSwitchCase="true" ngbDropdown class="nav-item p-xl-3 dropdown pointer" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="entity-menu">
                    <span>
                        <i class="icon-list"></i>
                        <span>
                            Entities
                        </span>
                        <b class="caret"></b>
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu>
                    <li>
                        <a class="dropdown-item" routerLink="school" routerLinkActive="active" (click)="collapseNavbar()">
                            <i class="icon-arrow-right"></i>
                            <span>School</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="school-class" routerLinkActive="active" (click)="collapseNavbar()">
                            <i class="icon-arrow-right"></i>
                            <span>School Class</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="subject" routerLinkActive="active" (click)="collapseNavbar()">
                            <i class="icon-arrow-right"></i>
                            <span>Subject</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="teacher" routerLinkActive="active" (click)="collapseNavbar()">
                            <i class="icon-arrow-right"></i>
                            <span>Teacher</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="student" routerLinkActive="active" (click)="collapseNavbar()">
                            <i class="icon-arrow-right"></i>
                            <span>Student</span>
                        </a>
                    </li>
                    <!-- jhipster-needle-add-entity-to-menu - JHipster will add entities to the menu here -->
                </ul>
            </li>
            <li *jhiHasAnyAuthority="'ROLE_ADMIN'" ngbDropdown class="nav-item p-xl-3 dropdown pointer" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="admin-menu">
                    <span>
                        <i class="icon-equalizer"></i>
                        <span>Administration</span>
                        <b class="caret"></b>
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu>
                    <li>
                        <a class="dropdown-item" routerLink="user-management" routerLinkActive="active" (click)="collapseNavbar()">
                            <i class="icon-user"></i>
                            <span>User management</span>
                        </a>
                    </li>
                    <!--
                    <li>
                        <a class="dropdown-item" routerLink="jhi-metrics" routerLinkActive="active" (click)="collapseNavbar()">
                            <i class="icon-speedometer"></i>
                            <span>Metrics</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="jhi-health" routerLinkActive="active" (click)="collapseNavbar()">
                            <i class="icon-heart"></i>
                            <span>Health</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="jhi-configuration" routerLinkActive="active" (click)="collapseNavbar()">
                            <i class="icon-settings"></i>
                            <span>Configuration</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="audits" routerLinkActive="active" (click)="collapseNavbar()">
                            <i class="icon-bell"></i>
                            <span>Audits</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="logs" routerLinkActive="active" (click)="collapseNavbar()">
                            <i class="icon-book-open"></i>
                            <span>Logs</span>
                        </a>
                    </li>
                    -->
                    <li *ngIf="swaggerEnabled">
                        <a class="dropdown-item" routerLink="docs" routerLinkActive="active" (click)="collapseNavbar()">
                            <i class="icon-notebook"></i>
                            <span>API</span>
                        </a>
                    </li>
                    <!-- jhipster-needle-add-element-to-admin-menu - JHipster will add entities to the admin menu here -->
                    <li *ngIf="!inProduction">
                        <a class="dropdown-item" href='/h2-console' target="_tab" (click)="collapseNavbar()">
                            <i class="icon-disc"></i>
                            <span>Database</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li ngbDropdown class="nav-item p-xl-3 dropdown pointer" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="account-menu">
                  <span *ngIf="!getImageUrl()">
                    <i class="icon-user"></i>
                    <span>
                      Account
                    </span>
                    <b class="caret"></b>
                  </span>
                    <span *ngIf="getImageUrl()">
                      <img [src]="getImageUrl()" class="profile-image img-circle" alt="Avatar">
                  </span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
                    <li *ngSwitchCase="true">
                        <a class="dropdown-item" routerLink="settings" routerLinkActive="active" (click)="collapseNavbar()">
                            <i class="icon-settings"></i>
                            <span>Settings</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="true">
                        <a class="dropdown-item" routerLink="password" routerLinkActive="active" (click)="collapseNavbar()">
                            <i class="icon-clock"></i>
                            <span>Password</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="true">
                        <a class="dropdown-item" (click)="logout()" id="logout">
                            <i class="icon-logout"></i>
                            <span>Sign out</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="false">
                        <a class="dropdown-item" (click)="login()" id="login">
                            <i class="icon-login"></i>
                            <span>Sign in</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="false">
                        <a class="dropdown-item" routerLink="register" routerLinkActive="active" (click)="collapseNavbar()">
                            <i class="icon-user-follow"></i>
                            <span>Register</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
