<div class="container-fluid">
    <div class="row justify-content-center">
        <div>
            <h1 class="display-4">Welcome to SchoolManagement app!</h1>
            <p class="lead">This is your homepage</p>

            <div [ngSwitch]="isAuthenticated()">
                <div class="alert alert-success" *ngSwitchCase="true">
                    <span *ngIf="account"
                       > You are logged in as user "{{account.login}}". </span>
                </div>

                <div class="alert alert-warning" *ngSwitchCase="false">
                    <span>If you want to </span>
                    <a class="alert-link" (click)="login()">sign in</a><span>, you can try the default accounts:<br/>- Administrator (login="admin" and password="admin") <br/>- User (login="user" and password="user").</span>
                </div>

                <div class="alert alert-warning" *ngSwitchCase="false">
                    <span>You don't have an account yet?</span>
                    <a class="alert-link" routerLink="register">Register a new account</a>
                </div>
            </div>
        </div>
    </div>
</div>
