
<div class="container-fluid mt-4" *ngIf="schoolClass">
    <h2><span>School Class</span> {{schoolClass.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Start Date</span></dt>
        <dd>
            <span>{{schoolClass.startDate | date:'medium'}}</span>
        </dd>
        <dt><span>End Date</span></dt>
        <dd>
            <span>{{schoolClass.endDate | date:'medium'}}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
            <span>{{schoolClass.name}}</span>
        </dd>
        <dt><span>Teachers</span></dt>
        <dd>
            <span *ngFor="let teachers of schoolClass.teachers; let last = last">
                <a [routerLink]="['/teacher', teachers?.id ]">{{teachers.name}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
        <dt><span>Subjects</span></dt>
        <dd>
            <span *ngFor="let subjects of schoolClass.subjects; let last = last">
                <a [routerLink]="['/subject', subjects?.id ]">{{subjects.name}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
        <dt><span>School</span></dt>
        <dd>
            <div *ngIf="schoolClass.school">
                <a [routerLink]="['/school', schoolClass.school?.id]">{{schoolClass.school?.name}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="icon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'school-class/'+ schoolClass.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="icon-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
