<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="mySchoolClassLabel">Create or edit a School Class</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!schoolClass.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="schoolClass.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_startDate">Start Date</label>
            <div class="d-flex">
                <input id="field_startDate" type="datetime-local" class="form-control" name="startDate" [(ngModel)]="schoolClass.startDate"
                  />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_endDate">End Date</label>
            <div class="d-flex">
                <input id="field_endDate" type="datetime-local" class="form-control" name="endDate" [(ngModel)]="schoolClass.endDate"
                  />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="schoolClass.name"
            required minlength="1" />
            <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.name?.errors?.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.name?.errors?.minlength">
                   This field is required to be at least 1 characters.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label>Teachers</label>
            <div class="pre-scrollable">
                <ul class="list-group">
                    <li class="list-group-item" [ngClass]="{'active':utilityService.checkElementInArrayById(schoolClass.teachers, teacherOption.id)}" *ngFor="let teacherOption of teachers; trackBy: trackTeacherById"
                        (click)="utilityService.toggleElementInArray(schoolClass.teachers, teacherOption)">
                        {{teacherOption.name}}
                    </li>
                </ul>
            </div>
        </div>
        <div class="form-group">
            <label>Subjects</label>
            <div class="pre-scrollable">
                <li class="list-group-item" [ngClass]="{'active':utilityService.checkElementInArrayById(schoolClass.subjects, subjectOption.id)}" *ngFor="let subjectOption of subjects; trackBy: trackSubjectById"
                    (click)="utilityService.toggleElementInArray(schoolClass.subjects, subjectOption)">
                    {{subjectOption.name}}
                </li>
            </div>
        </div>
        <div class="form-group" *ngIf="!schoolClass.id">
            <label for="field_school">School</label>
            <select class="form-control" id="field_school" name="school" [(ngModel)]="schoolClass.school" required>
                <option [ngValue]="schoolOption.id === schoolClass.school?.id ? schoolClass.school : schoolOption" *ngFor="let schoolOption of schools; trackBy: trackSchoolById">{{schoolOption.name}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
