<div class="container-fluid mt-4">
    <h2>
        <span>School Classes</span>
        <button class="btn btn-primary float-right create-school-class" [routerLink]="['/', { outlets: { popup: ['school-class-new'] } }]">
            <span class="icon-plus"></span>
            <span >
            Create new School Class
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="schoolClasses">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Start Date</span></th>
            <th><span>End Date</span></th>
            <th><span>Name</span></th>
            <th><span>Teachers</span></th>
            <th><span>Subjects</span></th>
            <th><span>School</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let schoolClass of schoolClasses ;trackBy: trackId">
                <td><a [routerLink]="['../school-class', schoolClass.id ]">{{schoolClass.id}}</a></td>
                <td>{{schoolClass.startDate | date:'medium'}}</td>
                <td>{{schoolClass.endDate | date:'medium'}}</td>
                <td>{{schoolClass.name}}</td>
                <td>
                    <span *ngFor="let teachers of schoolClass.teachers; let last = last">
                            <a class="form-control-static" [routerLink]="['../teacher', teachers?.id ]">{{teachers.name}}</a>{{last ? '' : ', '}}
                        </span>
                </td>
                <td>
                    <span *ngFor="let subjects of schoolClass.subjects; let last = last">
                            <a class="form-control-static" [routerLink]="['../subject', subjects?.id ]">{{subjects.name}}</a>{{last ? '' : ', '}}
                        </span>
                </td>
                <td>
                    <div *ngIf="schoolClass.school">
                        <a [routerLink]="['../school', schoolClass.school?.id ]" >{{schoolClass.school?.name}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../school-class', schoolClass.id ]"
                                class="btn btn-info btn-sm">
                            <span class="icon-eye"></span>
                            <span class="hidden-md-down">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'school-class/'+ schoolClass.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="icon-pencil"></span>
                            <span class="hidden-md-down">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'school-class/'+ schoolClass.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="icon-close"></span>
                            <span class="hidden-md-down">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
