<div class="container-fluid mt-4">
    <h2>
        <span>Students</span>
        <button class="btn btn-primary float-right create-student" [routerLink]="['/', { outlets: { popup: ['student-new'] } }]">
            <span class="icon-plus"></span>
            <span >
            Create new Student
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="students">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Name</span></th>
            <th><span>Age</span></th>
            <th><span>Email</span></th>
            <th><span>Address</span></th>
            <th><span>City</span></th>
            <th><span>State</span></th>
            <th><span>Country</span></th>
            <th><span>Phone</span></th>
            <th><span>School</span></th>
            <th><span>School Class</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let student of students ;trackBy: trackId">
                <td><a [routerLink]="['../student', student.id ]">{{student.id}}</a></td>
                <td>{{student.name}}</td>
                <td>{{student.age}}</td>
                <td>{{student.email}}</td>
                <td>{{student.address}}</td>
                <td>{{student.city}}</td>
                <td>{{student.state}}</td>
                <td>{{student.country}}</td>
                <td>{{student.phone}}</td>
                <td>
                    <div *ngIf="student.school">
                        <a [routerLink]="['../school', student.school?.id ]" >{{student.school?.name}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="student.schoolClass">
                        <a [routerLink]="['../school-class', student.schoolClass?.id ]" >{{student.schoolClass?.name}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../student', student.id ]"
                                class="btn btn-info btn-sm">
                            <span class="icon-eye"></span>
                            <span class="hidden-md-down">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'student/'+ student.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="icon-pencil"></span>
                            <span class="hidden-md-down">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'student/'+ student.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="icon-close"></span>
                            <span class="hidden-md-down">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
