
<div class="container-fluid mt-4" *ngIf="student">
    <h2><span>Student</span> {{student.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Name</span></dt>
        <dd>
            <span>{{student.name}}</span>
        </dd>
        <dt><span>Age</span></dt>
        <dd>
            <span>{{student.age}}</span>
        </dd>
        <dt><span>Email</span></dt>
        <dd>
            <span>{{student.email}}</span>
        </dd>
        <dt><span>Address</span></dt>
        <dd>
            <span>{{student.address}}</span>
        </dd>
        <dt><span>City</span></dt>
        <dd>
            <span>{{student.city}}</span>
        </dd>
        <dt><span>State</span></dt>
        <dd>
            <span>{{student.state}}</span>
        </dd>
        <dt><span>Country</span></dt>
        <dd>
            <span>{{student.country}}</span>
        </dd>
        <dt><span>Phone</span></dt>
        <dd>
            <span>{{student.phone}}</span>
        </dd>
        <dt><span>School</span></dt>
        <dd>
            <div *ngIf="student.school">
                <a [routerLink]="['/school', student.school?.id]">{{student.school?.name}}</a>
            </div>
        </dd>
        <dt><span>School Class</span></dt>
        <dd>
            <div *ngIf="student.schoolClass">
                <a [routerLink]="['/school-class', student.schoolClass?.id]">{{student.schoolClass?.name}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="icon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'student/'+ student.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="icon-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
